.user-form-container {
    padding: 20px;
    background-color: #f9f9f9;
    margin-top: 15px;
    border-radius: 10px;
  }
  
  .form-buttons {
    display: flex;
    gap: 1rem;
    margin-top: 1rem;
  }
  
  .btn-primary {
    background-color: var(--secondary-color);
    border-color: var(--secondary-color);
  }
  
  .btn-danger {
    background-color: var(--primary-color);
    border-color: var(--primary-color);
  }
  
  .permissions-container {
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ddd;
    padding: 10px;
    border-radius: 5px;
  }
  