body, html {
    margin: 0;
    padding: 0;
    overflow: hidden;
    height: 100%;
    width: 100%;
  }
  
  .login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('../img/banner.png'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .login-form {
    background-color: white;
    padding: 3rem;
    border-radius: 20px;
    /* Sombra personalizada en la esquina inferior izquierda */
    box-shadow: -10px 10px 20px rgba(0, 0, 0, 0.3); /* Ajuste de sombra */
    width: 100%;
    max-width: 500px; /* Hacer el formulario más grande */
    position: relative;
  }
  
  .logo {
    display: block;
    margin: 0 auto 3rem; /* Aumentar el espacio debajo del logo */
    max-width: 300px; /* Aumentar el tamaño máximo del logo */
    width: 100%;
  }
  
  .input-field {
    width: 100%;
    padding: 0.75rem;
    margin-bottom: 2rem; /* Más espacio entre los inputs */
    border: none; /* Eliminar bordes */
    border-bottom: 2px solid #e0e0e0; /* Solo borde inferior */
    font-size: 1rem;
    background-color: transparent; /* Fondo transparente */
  }
  
  .input-field:focus {
    outline: none; /* Eliminar el borde azul al enfocar */
    border-bottom: 2px solid #582AFF; /* Borde inferior en foco */
  }
  
  .submit-button {
    width: 100%;
    padding: 1rem;
    margin-top: 3rem; /* Más espacio entre el botón y los inputs */
    background: linear-gradient(to right, #582AFF, #15B0F6);
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 20px;
    cursor: pointer;
    transition: background 0.3s ease;
  }
  
  .submit-button:hover {
    background: linear-gradient(to right, #15B0F6, #06DCC2);
  }
  